{% extends 'base/model-page.html' %}
{% block content %}
    <span class="subtitle">{{ event_title }}</span>

    <form action="" method="post"> {% csrf_token %}
        {% for field, field_data in event.items %}
            <div class="form-field">
                <strong>{{ field_data.name }}:</strong>
                <span class="wrap-long-word">{{ field_data.value }}</span>
            </div>
        {% endfor %}

        <div class="actions">
            <button class="secondary-button" type="button" onclick="window.location.href = '{% url 'root' %}'">Voltar</button>
            <button class="red-button" type="submit">Excluir</button>
        </div>
    </form>
{% endblock content %}
