<div class="event-list">
    {% for event in events %}
            <div class="event{% if event.has_passed %} event-passed{% elif event.will_happen_soon %} event-soon{% endif %}">
                <span class="hide-large-text">{{ event.title }}</span>
                <pre class="margin-right"> - {{ event.get_event_date }}</pre>
                <div class="double-button">
                    <button class="yellow-button" onclick="location.href = '{% url 'update-event' event.id %}'">Editar</button>
                    <button class="red-button" onclick="location.href = '{% url 'delete-event' event.id %}'">Excluir</button>
                </div>
            </div>
    {% endfor %}
</div>
