{% extends '../model-page.html' %}
{% load filters_and_tags %}
{% block content %}

    <span id="toggle-login-register">Ainda não tem uma conta? <a href="{% url 'register' %}">Registrar-se</a></span>

    {% for message in messages %}<span class="success-message">{{ message }}</span>{% endfor %}
    
    <span class="subtitle">Login</span>
    <form action="{% url 'login' %}" method="post"> {% csrf_token %}
        <div class="form">
            {% for field in form %}{{ field.label }} {{ field }}{% endfor %}

            <div class="actions">
                <button class="blue-button" type="submit">Logar</button>
            </div>

            {% if form.errors %}
                <div id="error-list" class="margin-top">
                    <strong>Erro:</strong>
                    {% for error in form.errors.items %}
                        {% if error.0 == '__all__' %}
                            <span>{{ error.1|striptags }}</span>
                        {% else %}
                            <span>O campo {{ error.0|capfirst }} {% replace error.1|striptags 'Este campo' '' %}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>

{% endblock content %}
