{% extends '../model-page.html' %}
{% block content %}
    <span class="subtitle">Login</span>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form">
            {{ form.username.label }} {{ form.username }} {{ form.password.label }}
            {{ form.password }}
            <div class="actions">
                <button id="login" type="submit">Logar</button>
            </div>
        </div>
    </form>
    {% if form.errors %}
        <div id="error-list" class="margin-top">
            {% for error in form.errors.items %}
                {% if error.0 == '__all__' %}
                    <span>{{ error.1|striptags }}</span>
                {% else %}
                    <span>
                        <strong>{{ error.0|capfirst }}:</strong> {{ error.1|striptags }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
