{% load filters_and_tags %}
{% if form.errors %}
    <div id="error-list" class="margin-top">
        <strong>Erro:</strong>
        {% for error in form.errors.items %}
            <div class="error-list-line">
                {% if error.0 != '__all__' %}
                <strong>{{ form|get_field_label:error.0 }}:</strong>
                {% endif %}
                <div class="error-list-column">
                    {% for error_message in error.1 %}
                    <span>{{ error_message }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}