{% extends "model-page.html" %}
{% block content %}
    <span class="subtitle">Evento</span>
    <form class="form" action="submit/" method="post">
        {% csrf_token %}
        <input name="id" value="{{ evento.id }}" hidden />
        <label>Título</label>
        <input type="text" name="titulo" value="{{ evento.titulo }}" />
        <label>Data do evento</label>
        <input type="datetime-local"
               name="data_evento"
               value="{{ evento.get_data_input_evento }}"/>
        <label>Local do evento</label>
        <input type="text"
               name="local"
               value="{% if evento.local is None %}{% else %}{{ evento.local }}{% endif %}"/>
        <label>Descrição</label>
        <textarea name="descricao" rows="5">{{ evento.descricao }}</textarea>
        {% if messages %}
            <div id="error-list">
                {% for message in messages %}<span>{{ message }}</span>{% endfor %}
            </div>
        {% endif %}
        <div class="actions">
            <button class="action-button" type="submit">Salvar</button>
            <button class="action-button" type="button" onclick="location.href = '/'">Cancelar</button>
        </div>
    </form>
{% endblock content %}
