{% extends "model-page.html" %}
{% block content %}
    <span class="subtitle">Evento</span>

    <form action="" method="post"> {% csrf_token %}
            {% for field in form %}
                <div class="form-field">{{ field.label }} {{ field }}</div>
            {% endfor %}

        <div class="actions">
            <button class="blue-button" type="submit">Salvar</button>
            <button class="blue-button" type="button" onclick="window.location.href = '{% url 'root' %}'">Voltar</button>
        </div>

        {% include 'errors.html' %}
    </form>
{% endblock content %}
