{% load static %}
{% load filters_and_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Finlandica&family=Roboto&display=swap"
              rel="stylesheet"/>
        <link rel="stylesheet" href={% static 'css/styles.css' %}>
        <title>Agenda</title>
    </head>
    <body>
        <header>
            <button id="title" onclick="location.href = {% url 'root' %}">Agenda</button>

            {% if request.path not in '/login/, /register/'|split:", " %}
                <button class="blue-button"
                        id="logout"
                        onclick="location.href = {% url 'logout' %}">Logout</button>
            {% endif %}

        </header>
        
        {% block page %}
        {% endblock page %}
    </body>
</html>
