{% extends 'base/model-page.html' %}
{% load filters_and_tags %}
{% block content %}
    <span class="subtitle">Mudar senha</span>
    <form action="" method="post"> {% csrf_token %}
        {% for field in form %}
            <div class="form-field">{{ field.label }} {{ field }}</div>
        {% endfor %}

        <div class="actions">
            <button class="blue-button" type="submit">Salvar</button>
            <button class="blue-button" type="button" onclick="location.href = '{% url 'user' %}'">Voltar</button>
        </div>
    </form>
    
    {% include 'components/error-list.html' %}

    <div class="form-help">
        {% for line in form.new_password1.help_text|striptags|split:'.' %}
            <span>{{ line }}</span>
        {% endfor %}
    </div>
{% endblock content %}
